*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --darkGreen: #4a752c;
    --darkerGreen: #3f6325;
    --lightGreen:#aad751;
    --littleDarkGreen:#a2d149;
    --greenBorder:#87af3a;
    --lightYellow:#e5c29f;
    --darkYellow:#d7b899;
    --black:#000;
    --white:#fff;
    --lighterGray: #e2e2e2;
}
button{
    border: none;
}
body{
    background-color: var(--darkGreen);
    color: var(--white);
    font-family:sans-serif;
}
#userRules{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 20px;
    font-size: 30px;
    background-color: var(--darkerGreen);
    padding-block: 20px;
    margin-bottom: 50px;
}
.startGame,.fieldSize{
    color: var(--black);
    outline: none;
    transition: .3s ease;
    border: none;
    font-size: 20px;
    height: 50px;
    border: 3px solid var(--antGray);
    border-radius: 4px;
    background-color: #ffffff;
}
.gameFields{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.startGame:hover,.fieldSize:hover{
    background-color: var(--lighterGray);
}
.startGame{
    width: 230px;
    padding-inline: 10px;
}
.fieldSize{
    width: 250px;
}
.small{
    margin: 0 auto;
    display: grid;
    font-size: 60px;
    width: 800px;
    height: 640px;
}
.small img{
    width: 70px;
    height: 70px;
}
.middle{
    margin: 0 auto;
    font-size: 30px;
    display: grid;
    width:900px;
    height: 720px;
    font-size: 40px;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(16,1fr);
}
.middle img{
    width: 40px;
    height: 40px;
}
.big{
    margin: 0 auto;
    display: grid;
    width:1000px;
    height: 800px;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(24,1fr);
    font-size: 24px;
}
.big img{
    width: 20px;
    height: 20px;
}

.fieldCell{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    background-color: var(--lightGreen);
    width: 100%;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: none;
}
.reset{
    transition: 2s ease;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.questionEnd{
    transition: 2s ease;
    opacity: 0;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.questionEnd img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
.newGame{
    transition: .3s ease;
    font-size: 30px;
    width: 100%;
    height: 70px;
    padding-block: 5px;
    padding-inline: 10px;
    background-color: var(--darkGreen);
    border-radius: 6px;
    color: var(--white);
}
.newGame:hover{
    background-color: var(--greenBorder);
}
.one { color: blue; }
.two { color: green; }
.three { color: red; }
.four { color: darkblue; }
.five { color: maroon; }
.six { color: rgb(51, 185, 172); }
.seven { color: black; }
.eight { color: gray; }
.gameTime{
    display: none;
    align-items: center;
    justify-content: center;
}
option selected{
    background-color: black;
}
.timer{
    display: none;
    align-items: center;
    column-gap: 10px;
}
.amountFlags{
    display:none;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 40px;
    width: 80px;
}
@media (max-width: 1080px) {
    .big{
        width:83vw;
        height: 66vw;
        font-size: 22px;
    }
}
@media (max-width: 940px){
    .middle{
        width:83vw;
        height: 66vw;
        font-size: 32px;
    }
    .middle img{
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 860px){
    .small{
        width:83vw;
        height: 66vw;
        font-size: 50px;
    }
    .small img{
        width: 50px;
        height: 50px;
    }
    .startGame{
        display: none;
    }
    #userRules{
        margin-bottom: 25px;
    }
}
@media (max-width:790px){
    .middle{
        font-size: 38px;
    }
    .middle img{
        width: 38px;
        height: 38px;
    }
}
@media (max-width:750px){
    .small{
        font-size: 42px;
    }
    .small img{
        width: 44px;
        height: 44px;
    }
    .middle{
        font-size: 36px;
    }
    .middle img{
        width: 36px;
        height: 36px;
    }
}
@media (max-width: 560px){
    .small{
        font-size: 60px;
    }
    .small img{
        width: 60px;
        height: 60px;
    }
    .fieldSize{
        width: 140px;
        height: 35px;
    }
    #userRules{
        font-size: 20px;
        column-gap: 5px;
        justify-content: space-around;
        margin-bottom: 25px;
        padding-block: 10px;
    }
    .gameFields{
        column-gap: 6px;
    }
    .timer{
        column-gap: 2px;
    }
    .timer img{
        width: 30px;
        height: 30px;
    }
}
@media (max-width:490px){
    .small{
        font-size: 44px;
    }
    .small img{
        width: 44px;
        height: 44px;
    }
    .fieldSize{
        width: 140px;
        height: 35px;
    }
    .middle{
        font-size: 32px;
    }
    .middle img{
        width: 32px;
        height: 32px;
    }
}